@media (max-width: 400px){
    body{
        background-image: url(images/bg-mobile.png);
        width: 375px;
        height: 100%;
        background-repeat: no-repeat;
    }
    .card-icons{
        display: block;
        margin: 0px auto;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 115px;
    }
    .storage-card{
        display: block;
        margin: 0px auto;
        float: left;
        clear: both;
        width: 80%;
        margin-left: 30px;
    }
    .storage-card p:last-child{
        margin-left: 166px;
    }
    #storage-bar{
        width: 83%;
    }
    #storage-left{
        margin-left: 90px;
        margin-top: 420px;
    }
    #storage-left::after{
        display: none;
    }
    .background{
        display: none;
    }


}