/*---------------GENERAL-------------*/
:root{
/*Light Theme*/
--White: hsl(0, 0%, 100%);
--topBGPattern: hsl(225, 100%, 98%);
--cardBG: hsl(227, 49%, 92%);
--DarkGrayish-BlueText: hsl(228, 12%, 44%);
--VeryDarkBluetext: hsl(230, 17%, 14%);

}

html{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0px auto;
    background-color: var(--White);
}

.green-text{
    color: hsl(163, 72%, 41%);
}
.red-text{
    color: hsl(356, 69%, 56%);
}

/*---------------HEADER-------------*/

#background{
    position: absolute;
    width: 100%;
    height: 270px;
    background-color:var(--topBGPattern);
    z-index: -10;
}
#dashboard-top{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "social darkMode" ;
    align-items: center;
    margin-bottom: 5rem;

}

#dashboard-top h1{
    grid-area: social;
    margin-bottom: 10%;
}

#dashboard-top h4{
    grid-area: social;
    margin-top: 10%;
    opacity: 0.5;
}

#horizontal-line{
    display: none;
    margin: auto;
    opacity: 0.3;
    width: 92%;
    border: 0.5px solid black;
    background-color: black;
    border-radius: 3px;
}

#right-head{
    display: flex;
    justify-content: flex-end;
}

#darkMode-button{
    width: 100%;
    display: flex;
    width: 32%;
    height: 4em;
    align-items: center;
    justify-content: flex-end;
}

#darkMode-button h3{
    padding-top: 3px;
    align-self: flex-start;
    opacity: 0.5;
    flex-basis: 70%;
    font-size: 16px;
}

#darkMode-button #switch{
    cursor: pointer;
    align-self: flex-start;
    width: 40px;
    height: 20px;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    border-radius: 20px;
    z-index: 0;
    padding: 3px;
    transform: translateY(1em);
}

#darkMode-button #switchCircle{
    height: 93%;
    width: 55%;
    background-color: rgb(252, 252, 252);
    border-radius: 100%;
    margin-left: 43%;
    z-index: 1;
   /* transform: translateX(-100%);
   animation-duration: 0.15s;
   animation-fill-mode: both;
   animation-timing-function: ease-in;*/
}

/*---------------CARDS-------------*/
.top-cards{
    display: grid;
    margin: auto;
    width: 85%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr;
    margin-top: -4em;
    grid-gap: 20px;
}

.card{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 220px;
    background-color: var(--cardBG);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(19, 19, 19, 0.1);
}

.card:hover{
    cursor: pointer;
    background-color:  hsl(226, 56%, 85%);
}

.card span{
    font-size: 14px;
    font-weight: 700;
}

.card span img{
    margin-top: 1em;
    margin-right: 1em;
}

.card span p{
    margin-top: 5em;
}

.card h1{
    font-size: 50px;
    margin-top: 8%;
}

.card h4{
    font-size: 14px;
    margin-top: -10%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 200;
}
.card-facebook{
    border-top: 5px solid hsl(208, 92%, 53%);
}
.card-twitter{
    border-top: 5px solid hsl(203, 89%, 53%);
}
.card-instagram{
    border-top: 4px solid transparent;
    background-clip: padding-box;
    position: relative;
}
/*Utilizo un before del mismo tamaño de la card y lo pongo con zindex -1 para que vaya atrás en forma de borde superior*/
.card-instagram::before{
    content: '';
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 220px;
    z-index: -1;
    top:-4.5px;
    left: 0rem;
}
.card-youtube{
    border-top: 5px solid hsl(348, 97%, 39%);
}

/*------------------SMALL CARDS------------------*/
#overview{
    height: 100vh;
    margin: auto;
    margin-top: 4%;
    width: 85%;
}
.overview-cards{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    
    "f1 f2 f3 f4",
    "s1 s2 s3 s4";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.mini-card{
    position: relative;
    width: 95%;
    height: 110px;
    background-color: var(--cardBG);
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(19, 19, 19, 0.1);
    cursor: pointer;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mini-card:hover{
    background-color:hsl(226, 56%, 85%);
}

.mini-card .mini-card-heading{
    align-self: center;
    font-weight: 700;
    color: var(--DarkGrayish-BlueText);
    padding-left: 5%;
}

.mini-card .overview-card-icon{
    justify-self: flex-end;
    align-self: center;
    padding-right: 15%;
}

.mini-card .overview-card-count{
    justify-self: flex-start;
    align-self: center;
    padding-left: 15%;
    font-size: 30px;
    font-weight: bold;
}

.mini-card .overview-card-daily{
    justify-self: flex-end;
    align-self: center;
    padding-right: 5%;
}









/*------------------MEDIAS------------------*/

/*

#background{
    width: 100%;
    height: 250px;
    background-color: var(--topBGPattern);
}
#header{
    margin-top: -250px;
}

#dashboard-top{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin: 1em;
    margin-bottom: 0;
}

#dashboard-top h1{
    flex-basis: 100%;
    flex-grow: 1;
    font-size: 25px;
}

#dashboard-top h4{
    flex-basis: 100%;
    opacity: 0.7;
    margin-top: -16px;
}

#horizontal-line{
    display: none;
    margin: auto;
    opacity: 0.3;
    width: 92%;
    border: 0.5px solid black;
    background-color: black;
    border-radius: 3px;
}

#darkMode-button{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    margin-top: 0;
}

#darkMode-button h3{
    align-self: center;
    opacity: 0.5;
}

#darkMode-button #switch{
    cursor: pointer;
    align-self: center;
    width: 40px;
    height: 20px;
    background-color: rgb(218, 213, 213);
    border-radius: 20px;
    z-index: 0;
    padding: 3px;
}

#darkMode-button #switchCircle{
    height: 93%;
    width: 45%;
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
    margin-left: 52%;
    z-index: 1;
   /* transform: translateX(-100%);
   animation-duration: 0.15s;
   animation-fill-mode: both;
   animation-timing-function: ease-in;
}

*/